.app.light {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .app.dark {
    background-color: #333;
    color: #f2f2f2;
  }
  
  h1 {
    color: inherit;
  }
  .Theme{
    display: flex;
    margin-right: 20%;
    
  }
  .app.theme{
    display: flex;
    flex-direction: column;
  }
  